<div  id="cleansing-apply-labels-modal">
    <div class="modal-header" >
        <button type="button"
                class="close"
                aria-hidden="true"
                ng-click="cancel()">
                <i class="fa fa-times"></i></button>
        <h4 class="modal-title"
            id="manageLabelsModalLabel">
            Add/Remove Labels</h4>
    </div>
    <div class="modal-body">

        <div class="edit_text" style="margin-bottom:20px;">You can mark all rows where an error occurs with a label for that error. To do so,
        select the error labels you want marked from the list below.</div>

        <div class="table-list-container"  >

            <table ng-show="errorLabels.length > 0" class="table table-striped">
                <tr ng-repeat="label in errorLabels">
                    <td class="label_column">
                        <span class="label label-{$ label.label $}">{$ label.name $}</span>
                    </td>
                    <td align="right">

                        <button type="button"
                                uib-btn-checkbox
                                ng-model="label.is_checked_add"
                                btn-checkbox-true="true"
                                btn-checkbox-false="false"
                                class="btn btn-sm btn-default action_link"
                                ng-class="{'btn-primary':label.is_checked_add}"
                                ng-click="toggle_add(label)"
                                >Apply
                        </button>

                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button"
                class="btn btn-primary"
                style="min-width:90px;"
                ng-click="done()">
                Done</button>
        <button type="button"
                class="btn btn-default"
                style="min-width:90px;"
                ng-click="cancel()">
                Cancel</button>
    </div>
</div>
